body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 5px 5px 5px;
    
}
.header{
    background-color: rgb(35, 212, 153);
    text-align: center;
    padding: 30px 30px 30px 30px;
    
}
.link{
    overflow: hidden;
    background-color: #333;
}

.link a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.link a.right{
    float: right;
}

.content{
    height: 400px;
    width: 100%;
    background-color: antiquewhite;
   
}
.image{
    background-color: rgb(102, 94, 94);
    height: 200px;
}
.col-left{
    
    width: 40%;
    float: left;
    height: 100%;
}
.col-right{
    
    width: 59%;
    float: right;  
    height: 100%;   
}
.footer{
    background-color: aliceblue;
    text-align: center;
    padding: 12px;
}